{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/first.css" %}">
    <script src="{% static "js/index.js" %}"></script>
    <title>Django</title>
</head>
<body>
    <h1>This is my first ever template</h1>
    <a target="_blank" href="https://dramacool.bg/">This is a link</a>
    {% static "images/tokyo-ghoul.jpg" as anime %}
    <img src="{% static "images/tokyo-ghoul.jpg" %}" alt="Tokyo Ghoul">
    <img src="{{anime}}" alt="Tokyo Ghoul">
    <img src="{% get_static_prefix %}images/naruto X jiraiya.jpeg " alt="Naruto">
</body>
</html>