<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>We are inside Apps</h1>
    <h1>Author Name: {{name}}</h1>
    {% if age >= 18 %}
    <p>You can drive</p>
    {% else %}
    <p>You are an infant</p>
    {% endif %}

    {% if marks >= 80 %}
    <p>Golden Duck</p>
    {% elif marks >= 70 and marks <= 79 %}
    <p>A Grade</p>
    {% elif marks >= 40 and marks <= 69 %}
    <p>Passed</p>
    {% else %}
    <p>Feltush Student</p>
    {% endif %}

    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Courses</th>
            <th>Teacher</th>
        </tr>
        
            {% for course in courses %}
            <tr>
                <td>{{course.id}}</td>
                <td>{{course.course}}</td>
                <td>{{course.teacher}}</td>
            </tr>
            {% endfor %}
    </table>
    {% comment %} Filters in DTL {% endcomment %}
    {% comment %} {{variable_name | filter_name}} {% endcomment %}
    {% comment %}
        Add Value
        Divisible Check
        Length
        Word Count
        Truncate Words
        Make List
        Upper Case
        Lower Case
        Join
    {% endcomment %}
     {% comment %} Don't use any space here {% endcomment %}
     <h4>Add Value: {{marks | add:"1"}}</h4>
     <h4>Divisible: {{marks | divisibleby:"1"}}</h4>
     <h4>Length: {{name | length}}</h4>
     <h4>Word Count: {{name | wordcount}}</h4>
     <h4>Truncate Word: {{blog | truncatewords:7}}</h4>
     <h4>Truncate Character: {{blog | truncatechars:27}}</h4>
     <h4>Make List: {{name | make_list}}</h4>
     <h4>Upper Case: {{name | upper}}</h4>
     <h4>Lower Case: {{name | lower}}</h4>
     <h4>Join: {{lst | join:", "}}</h4>
</body>
</html>